[submodule "redis"]
	path = redis
	url = https://github.com/ruanima/redis.git
	branch = reading-4.0
[submodule "flask"]
	path = flask
	url = git@github.com:ruanima/flask.git
	branch = reading-1.1.x
[submodule "redis-3.0-annotated"]
	path = redis-3.0-annotated
	url = git@github.com:ruanima/redis-3.0-annotated.git
[submodule "gunicorn"]
	path = gunicorn
	url = https://github.com/ruanima/gunicorn.git
[submodule "python-redis-lock"]
	path = python-redis-lock
	url = git@github.com:ruanima/python-redis-lock.git
